block content

  br

  h1 Hola Mundo!!!
  p Muchas gracias por ver mi proyecto para continuar te invito a que hagas click en el enlace de abajo :)

  br
  br
  br

  a(href='/index') Ir a Red de Bicicletas :)
