extends ../layout

block content
  a(href='/bicicletas') Volver

  br
  br
  br

  h1 Mostrando Bicicleta ID:&nbsp;
    span !{bici.code}

  br
  br

  label(for='code') ID:&nbsp;
  label !{bici.code}
  br
  label(for='color') Color:&nbsp;
  label !{bici.color}
  br
  label(for='modelo') Modelo:&nbsp;
  label !{bici.modelo}
  br
  label(for='lat') Latitud:&nbsp;
  label !{bici.ubicacion[0]}
  br
  label(for='lng') Longitud:&nbsp;
  label !{bici.ubicacion[1]}
